
body {
    background: url(bg.jpg);
    background-size: cover;
    background-repeat:space;

}

.main, .info {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 40%;
    margin: 3% auto 0px;
    flex-direction: column;
    border-radius: 1rem;
    border: 3px solid #0D6EFD;
    padding: 2% 5%;
}

h4 {
    font-weight: 600;
    color: #222a43;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
  }
  span {
    text-align: center;
  }